#map {
    width: 100%;
    height: calc(100vh - 50px);
    z-index: 0;
}

/*** Custom Leaflet Layer Control ***/
.leaflet-control-layers.leaflet-control-layers-expanded.leaflet-control {
    padding: 15px 8px 8px;
    width: 13.25rem;
}

/*** Zoom Home ***/
.fa-home {
    font-size: 15px !important;
}

/*** Hiển thị label ***/
.leaflet-toltip {
    background-color: #fff0 !important;
    border: none !important;
    white-space: nowrap !important;
    pointer-events: none !important;
    box-shadow: none !important;
}

#showinfo_rt td, #showinfo td, #showinfo_qh td {
    padding: 5px;
    text-align: center;
    word-break: break-word;
    font-size: 14px;
    max-width: 1px;
}

.modal-backdrop {
    display: none !important;
}

#res_search_qh td, #res_search_gia td, #res_search_tuyen td {
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}

.ranhthua-click, .tuyen-click {
    pointer: cusor;
}

.ranhthua-click:hover, .tuyen-click:hover {
    color: red;
}
